
<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-control">Numero1</label>
            <input class="form-control" [(ngModel)]="num1" name="num1" placeholder="Numero1" type="text">
        </div>
        <!--
        <div class="mb-3">
            <label for="" class="form-control">Numero2</label>
            <input class="form-control" [(ngModel)]="num2" name="num2" placeholder="Numero2" type="text">
        </div>
        -->
        <div class="mb-3">
            <button (click)="showTabla()" class="btn btn-success">Calcular</button>
        </div>
    </div>

    <div class="col-6">
        <h3 class="card-header">TABLA DE {{num1}}</h3>
        <div class="" *ngFor="let resultado of text">{{resultado}}</div>

        <h2>Resultado : {{resultado}}</h2>
    </div>
</div>

